<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hisp.dhis.android.app"
    android:installLocation="internalOnly">

    <application
        android:name=".SkeletonApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <activity android:name="org.hisp.dhis.client.sdk.ui.bindings.views.DefaultLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.hisp.dhis.client.sdk.ui.bindings.views.DefaultLoginActivity" />
        <activity
            android:name=".views.HomeActivity"
            android:theme="@style/AppTheme.Main" />
        <activity android:name=".views.FormActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.create.identifiable.CreateIdentifiableItemActivity" />
        <activity android:name=".views.selectedcontent.SelectedContentActivity" />
        <activity android:name=".views.enrollment.EnrollmentActivity" />
        <activity android:name=".views.create.event.CreateEventActivity" />
        <activity
            android:name=".views.drawerform.trackedentityinstance.TeiDashboardActivity"
            android:label="@string/title_activity_tei_dashboard" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_api_key}" />

        <!-- Sync service : -->
        <service
            android:name=".model.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="org.hisp.dhis.client.sdk.core.commons.database.DbContentProvider"
            android:authorities="org.hisp.dhis.client.sdk.core" />

        <activity android:name=".views.drawerform.singleevent.SingleEventDashboardActivity"></activity>
    </application>

</manifest>